/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset */

body {
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font: revert;
}

i, em {
    font-style: italic;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: 0;
    cursor: pointer;
}

/* Navigation Bar */
#navbar {
    position: sticky;
    top: 0;
    background: #fff;
}

#navbar-top {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px 12px 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#navbar-top a {
    font-size: 0;
}

#navbar-logo {
    width: auto;
    height: 24px;
}

#navbar-menu {
    margin-top: 4px;
}

#navbar-menu li {
    display: inline;
    margin-right: 24px;
}

#navbar-menu li a {
    color: #000;
    font-size: 14px;
}

#navbar-mail-icon {
    width: auto;
    height: 24px;
}

#navbar-bottom {
    background: #fd3;
    padding: 12px 24px 12px 24px;
    font-size: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    height: 250px;
}

.header-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

#header-logo {
    margin-right: 96px;
    width: 231px;
    height: auto;
}

#header-title {
    margin-left: 64px;
    color: rgb(96, 96, 96);
    font-size: 32px;
}

/* Featured Articles */
#featured-articles {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto 0 auto;
    padding-bottom: 24px;
}

.article-large {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(50% - 8px);
    max-height: 376px;
    height: 376px;
    padding: 24px;
    color: #fff;
    box-sizing: border-box;
}

.article-category {
    font-size: 14px;
}

.article-large h1 {
    font-size: 32px;
}

.article-small {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(25% - 8px);
    height: 248px;
    padding: 12px;
    color: #fff;
    box-sizing: border-box;
}

.article-small h3 {
    font-size: 20px;
}

.article-promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(50% - 8px);
    height: 248px;
    color: #fff;
    text-align: center;
}

.article-promo h2 {
    font-size: 20px;
}

#get-tickets-button {
    background: none;
    margin-top: 24px;
    padding: 12px 24px 12px 24px;
    color: #fff;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 24px;
}

#article-1 {
    background: url("assets/article1.jpeg") 0/cover no-repeat;
    margin: 0 8px 8px 0;
}

#article-2 {
    background: url("assets/article2.jpeg") 0/cover no-repeat;
    margin: 0 8px 8px 0;
}

#article-3 {
    background: url("assets/article3.jpeg") 0/cover no-repeat;
}

#article-4 {
    background: url("assets/article4.jpg") 0/cover no-repeat;
    margin-right: 8px;
}

#article-5 {
    background: url("assets/article5.jpeg") 0/cover no-repeat;
    margin-top: calc((376px - 248px) * -1);
}

/* Popular Articles */
#popular-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(240, 240, 240);
}

#popular-articles h3 {
    padding: 32px 0 32px 0;
    color: rgb(128, 128, 128);
    font-size: 18px;
}

#popular-articles-list {
    display: flex;
    justify-content: center;
    width: 75%;
    margin-bottom: 32px;
}

#popular-articles-list li {
    width: 15%;
    margin-right: 24px;
    font-weight: bold;
}

/* Latest Stories */
#latest-stories {
    width: 75%;
    margin: 0 auto 0 auto;
    padding: 64px;
}

#latest-stories h1 {
    font-size: 32px;
}

#latest-stories-list {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 0 32px 0;
}

.story {
    width: 280px;
    height: 237px;
    margin: 0 32px 32px 0;
    cursor: pointer;
}

.story-image {
    background: rgb(128, 128, 128);
    width: 100%;
    height: 157px;
}

.story-info {
    padding: 4px;
}

.story-category {
    color: rgb(0, 204, 204);
    font-size: 12px;
    font-weight: bold;
    padding: 4px 0 4px 0;
}

.story-category:hover {
    color: #000;
}

.story-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.story-title:hover {
    text-decoration: underline;
}

#all-news-button-container {
    width: 100%;
    text-align: center;
}

#all-news-button {
    background: rgb(204, 0, 153);
    padding: 12px 24px 12px 24px;
    color: #fff;
    font-size: 14px;
    border-radius: 32px;
    transition: color 0.1s ease-in;
}

#all-news-button:hover {
    color: #000;
}

/* Explore */
#explore {
    background: rgb(240, 240, 240);
}

#explore-content {
    width: 85%;
    margin: 0 auto 0 auto;
    padding: 64px;
}

#explore h1 {
    padding: 32px 0 32px 0;
    font-size: 32px;
}

#channels-list {
    display: flex;
    width: 100%;
    padding: 32px 0 32px 0;
    overflow-x: hidden;
}

.channel {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: rgb(128, 128, 128);
    width: 291px;
    height: 232px;
    margin-right: 16px;
    text-align: center;
}

.channel-description {
    padding: 32px;
    color: #fff;
    font-weight: bold;
}

/* Newsletter */
#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(64, 64, 64);
    padding: 64px;
    color: #fff;
    text-align: center;
}

#newsletter h1 {
    font-size: 38px;
    padding: 12px 0 12px 0;
}

#newsletter-description {
    padding-bottom: 12px;
}

#newsletter-description a {
    color: rgb(0, 204, 204);
}

#newsletter-description a:hover {
    color: #fff;
    font-weight: bold;
}

#newsletter-form {
    display: flex;
    align-items: center;
    background: #fff;
    width: 40%;
    height: 48px;
    border-radius: 4px;
}

#newsletter-icon {
    width: 12px;
    height: 12px;
    padding: 0 12px 0 12px;
}

#newsletter-input {
    background: none;
    width: calc(80% - 12px);
    height: 100%;
    border: 0;
}

#newsletter-subscribe-button {
    background: rgb(204, 0, 153);
    width: 20%;
    height: 100%;
    color: #fff;
    font-weight: bold;
    border-radius: 0 4px 4px 0;
}

#newsletter-subscribe-button:hover {
    background: rgb(76, 172, 255);
}

/* Made for You */
#made-for-you {
    background: rgb(240, 240, 240);
    padding: 64px;
}

#made-for-you-content {
    width: 80%;
    margin: 0 auto 0 auto;
}

#made-for-you-box {
    display: flex;
    width: 100%;
    height: 646px;
}

#made-for-you-video {
    background: #000;
    width: 75%;
    height: 100%;
}

#made-for-you-sidebar {
    background: rgb(128, 128, 128);
    width: 25%;
    height: 100%;
}

/* Work With Us */
#work-with-us {
    display: flex;
    width: 70%;
    margin: 0 auto 0 auto;
    padding: 64px;
}

.work-with-us-section {
    width: 50%;
}

#work-with-us h3 {
    color: rgb(204, 0, 153);
    font-size: 16px;
}

#work-with-us h1 {
    padding: 16px 0 32px 0;
    font-size: 32px;
}

#work-with-us-description {
    color: rgb(96, 96, 96);
    font-size: 20px;
    line-height: 24px;
}

#get-in-touch-button {
    background: rgb(0, 204, 204);
    margin-top: 32px;
    padding: 16px 32px 16px 32px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}

#get-in-touch-button:hover {
    background: rgb(0, 221, 221);
}

#work-with-us-items {
    display: flex;
    flex-direction: column;
}

.work-with-us-items-section {
    display: flex;
    height: 50%;
}

.work-with-us-item {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
}

/* Footer */
#footer {
    display: flex;
    justify-content: center;
    background: #000;
    padding: 64px;
}

#footer-content {
    display: flex;
    width: 75%;
}

.footer-section {
    width: 50%;
}

#footer-logo {
    width: 160px;
    height: auto;
}

#footer h1 {
    padding: 32px 0 32px 0;
    color: #fff;
    font-size: 24px;
}

#footer-section-right {
    display: flex;
}

.footer-list {
    width: 50%;
}

.footer-list h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 24px;
}

.footer-list li {
    margin-bottom: 12px;
}

.footer-list li a {
    color: rgb(0, 204, 204);
}

.footer-list li a:hover {
    text-decoration: underline;
}

#footer-copyright {
    background: #000;
    padding: 64px 0 64px 0;
    color: rgb(192, 192, 192);
    border-top: 1px solid rgb(128, 128, 128);
    text-align: center;
}

#footer-copyright a {
    color: rgb(0, 204, 204);
}

#footer-copyright a:hover {
    text-decoration: underline;
}

/* Responsive CSS */
@media screen and (max-width: 1000px) {
    /* Navigation Bar */
    #navbar-menu, #navbar-bottom, #navbar-mail-icon {
        display: none;
    }

    /* Header */
    #header {
        display: block;
        height: auto;
        padding: 32px 0 32px 0;
    }

    .header-section-container {
        width: 100%;
    }

    #header-logo {
        margin-right: 0;
    }

    #header-title {
        margin: 32px 0 0 0;
        font-size: 20px;
    }

    /* Featured Articles */
    #article-1 {
        width: 100%;
        margin: 0 0 8px 0;
    }

    #article-2, #article-3, #article-4, #article-5 {
        width: calc(50% - 8px);
        height: 192px;
    }

    #get-tickets-button {
        margin-top: 12px;
    }

    #article-5 {
        margin: 0;
        padding: 12px;
    }

    #article-5 h1 {
        font-size: 20px;
    }

    /* Popular Articles */
    #popular-articles-list {
        flex-direction: column;
        align-items: center;
    }

    #popular-articles-list li {
        width: 100%;
        margin: 0 0 24px 0;
    }

    /* Newsletter */
    #newsletter-form {
        width: 75%;
    }

    /* Made for You */
    #made-for-you-content {
        width: 100%;
    }

    #made-for-you-box {
        flex-direction: column;
    }
    
    #made-for-you-video {
        width: 100%;
    }
    
    #made-for-you-sidebar {
        width: 100%;
    }

    /* Work With Us */
    #work-with-us {
        flex-direction: column;
        text-align: center;
    }

    .work-with-us-section {
        width: 100%;
    }

    #work-with-us-items {
        margin-top: 32px;
    }

    .work-with-us-item {
        justify-content: center;
    }

    /* Footer */
    #footer-content {
        display: block;
        width: 100%;
    }

    .footer-section {
        width: 100%;
    }
}